{% extends 'user/baseUser.html.twig' %}

{% block body %}
    <section class="home">
        <div class="home-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="livingThing-card">
                        <div class="livingThing-card-header">
                            <span class="livingThing-card-title">Living Thing</span>
                        </div>
                        <div class="livingThing-card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="livingThing-box">
                                        <div class="livingThing-box-header">
                                            <span class="card-title">Animals</span>
                                        </div>
                                        <div class="livingThing-box-body">
                                            <p class="card-text">{{ nbrAnimalia }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="livingThing-box">
                                        <div class="livingThing-box-header">
                                            <span class="card-title">Plants</span>
                                        </div>
                                        <div class="livingThing-box-body">
                                            <p class="card-text">{{ nbrPlantae }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="livingThing-box">
                                        <div class="livingThing-box-header">
                                            <span class="card-title">Insects</span>
                                        </div>
                                        <div class="livingThing-box-body">
                                            <p class="card-text">{{ nbrInsecta }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="livingThing-box">
                                        <div class="livingThing-box-header">
                                            <span class="card-title">Bacteria</span>
                                        </div>
                                        <div class="livingThing-box-body">
                                            <p class="card-text">{{ nbrBacteria }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="recent-activity-card">
                        <div class="recent-activity-card-header">
                            <span class="recent-activity-card-title">Recent Activity</span>
                        </div>
                        <div class="recent-activity-card-body">
                            <div class="post">
                                <div class="post-header">
                                    <span class="post-title">Article Title</span>
                                </div>
                                <div class="post-body">
                                    <p class="post-text">Created at 10-12-2019 00:12:20</p>
                                </div>
                            </div>

                            <div class="post">
                                <div class="post-header">
                                    <span class="post-title">Article Title</span>
                                </div>
                                <div class="post-body">
                                    <p class="post-text">Created at 10-12-2019 00:12:20</p>
                                </div>
                            </div>

                            <div class="post">
                                <div class="post-header">
                                    <span class="post-title">Article Title</span>
                                </div>
                                <div class="post-body">
                                    <p class="post-text">Created at 10-12-2019 00:12:20</p>
                                </div>
                            </div>

                            <div class="recent-activity-post-button">
                                <a class="" href="#">See More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="notification-card">
                        <div class="notification-card-header">
                            <span class="notification-card-title">Notifications</span>
                        </div>
                        <div class="notification-card-body">
                            <p class="card-text">Hello world !</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="recent-conversation-card">
                        <div class="recent-conversation-card-header">
                            <span class="recent-conversation-card-title">Recent Conversation</span>
                        </div>
                        <div class="recent-conversation-card-body">
                            <p class="card-text">Hello world !</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
