{% extends 'user/baseUser.html.twig' %}

{% block body %}
    <section class="home">
        <div class="home-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="livingThing-card">
                        <div class="livingThing-card-header">
                            <span class="livingThing-card-title">Living Thing</span>
                        </div>
                        <div class="livingThing-card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="livingThing-subcard">
                                        <div class="livingThing-subcard-header">
                                            <span class="card-title">Animals</span>
                                        </div>
                                        <div class="livingThing-subcard-body">
                                            <p class="card-text">{{ nbrAnimalia }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="livingThing-subcard">
                                        <div class="livingThing-subcard-header">
                                            <span class="card-title">Plants</span>
                                        </div>
                                        <div class="livingThing-subcard-body">
                                            <p class="card-text">{{ nbrPlantae }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="livingThing-subcard">
                                        <div class="livingThing-subcard-header">
                                            <span class="card-title">Insects</span>
                                        </div>
                                        <div class="livingThing-subcard-body">
                                            <p class="card-text">{{ nbrInsecta }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="livingThing-subcard">
                                        <div class="livingThing-subcard-header">
                                            <span class="card-title">Bacteria</span>
                                        </div>
                                        <div class="livingThing-subcard-body">
                                            <p class="card-text">{{ nbrBacteria }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <span class="card-title">Recent Activity</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Hello world !</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <span class="card-title">Notifications</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Hello world !</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <span class="card-title">Recent Conversation</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Hello world !</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
