{% extends 'user/baseUser.html.twig' %}

{% block body %}
    <section class="home">
        <div class="home-content row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-title">Living Thing</span>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-header">
                                        <span class="card-title">Animals</span>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">10</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-header">
                                        <span class="card-title">Plants</span>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">10</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-header">
                                        <span class="card-title">Insects</span>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">10</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-header">
                                        <span class="card-title">Bacteries</span>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">10</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <span class="card-title">Recent Activity</span>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Hello world !</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <span class="card-title">Notifications</span>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Hello world !</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <span class="card-title">Recent Conversation</span>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Hello world !</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
