{% extends 'anonymous/baseAnonymous.html.twig' %}

{% block body %}
    <section class="wikiearth-article">
        <div class="container">
            <div class="wikiearth-article-header">
                <h2 class="wikiearth-article-header-title">living Things</h2>
            </div>

            {% if livingThing != [] %}
                {% set name = "" %}
                {% for oneLivingThing in livingThing %}
                    {% if oneLivingThing.idLivingThing.kingdom == "Animalia" %}
                        {% set name = "animals" %}
                    {% elseif oneLivingThing.idLivingThing.kingdom == "Plantae" %}
                        {% set name = "plants" %}
                    {% elseif oneLivingThing.idLivingThing.kingdom == "Insecta" %}
                        {% set name = "insects" %}
                    {% else %}
                        {% set name = "bacteria" %}
                    {% endif %}
                    
                    <li class="media h-150px">
                        <div class="media-header">
                            <img height="128" width="156" class="img-fuild" src="{{ asset(file_exist(oneLivingThing.idLivingThing.imgPath)) }}" alt="{{ oneLivingThing.title }}">
                        </div>
                        <div class="media-body">
                            <h5 class="media-body-title">{{ oneLivingThing.title }}</h5>
                            <a class="btn btn-outline-secondary" href="{{ path("articleLivingThingByID", {"name": name, "id": oneLivingThing.idLivingThing.id }) }}">See Article</a>
                        </div>
                    </li>
                {% endfor %}
            {% else %}
                <div class="alert alert-danger txt-center">
                    <span>No results found</span>
                </div>
            {% endif %}

            {# Pagination #}
        </div>
    </section>
{% endblock %}
