{% extends 'anonymous/baseAnonymous.html.twig' %}

{% block body %}
    <section class="home">
        <div class="container">
            <h2>Article Page / Anonymous Section</h2>
        </div>
    </section>
{% endblock %}
