/* ---------------------------------------- *\
                    Footer
\* ---------------------------------------- */
footer {
    height: 50px;
    color: #ffffff;
}

footer .container {
    padding: 1rem 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.right .c-cyanBlue:hover {
    color: rgb(0, 183, 235);
}