{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
    <div class="container">
        <li><a href="{{ path('adminMediaType', {type: 'video'}) }}">Video</a></li>
        <li><a href="{{ path('adminMediaType', {type: 'image'}) }}">Image</a></li>
    </div>
{% endblock %}