{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
    <div class="container">
        {% if medias != [] %}
            {% for medias in media %}
                <li>
                    <div>
                        <span>{{ media.name }}</span>
                        <img src="{{ asset(media.path) }}" alt="{{ media.name }}">
                    </div>
                </li>
            {% endfor %}
        {% else %}
            <li>Aucun média du type "{{ mediaType }}" n'a été trouvé.</li>
        {% endif %}
    </div>
{% endblock %}