{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
    <div class="container">
        {{ form_start(userForm, {'method': 'POST'}) }}
        {{ form_end(userForm, {'method': 'POST'}) }}
    </div>
{% endblock %}