/* ---------------------------------------- *\
                    Home
\* ---------------------------------------- */
@media(max-width: 768px) {
    
    /* ------------------------ Users -------------------------- */
    .wikiearth-admin-users, .wikiearth-admin-article {
        display: block;
        flex-wrap: unset;
    }

    .wikiearth-admin-users-left, .wikiearth-admin-users-right {
        width: 100%;
    }

    .wikiearth-admin-users-right {
        margin: 5px 0;
    }

    /* ------------------------ Article -------------------------- */
    .wikiearth-admin-article {
        width: 100%;
    }

    .wikiearth-admin-article-latestArticle, .wikiearth-admin-users-statArticle {
        width: 50%;
        padding: 5%;
    }
}