{% extends 'anonymous/baseAnonymous.html.twig' %}

{% block body %}
    <section class="home">
        <div class="fluid-container">
            <h2 class="c-white">Welcome to WikiEarth</h2>
        </div>
    </section>
{% endblock %}
