{% extends 'anonymous/baseAnonymous.html.twig' %}

{% block body %}
    <section class="wikiearth-article">
        <div class="container">
            <div class="wikiearth-article-header">
                <h2 class="wikiearth-article-header-title">Chimical Reactions</h2>
            </div>

            <div class="alert alert-danger txt-center">
                <span>This page is currently under construction. Please check back soon.</span>
            </div>
        </div>
    </section>
{% endblock %}
