{% extends 'user/baseUser.html.twig' %}

{% block body %}
    <section class="about">
        <div class="container">
            <h2>Notification Page / User Section</h2>
        </div>
    </section>
{% endblock %}
