{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
    <div class="container">
        <div class="card">
            <a href=""><span>Users</span></a>
        </div>

        <div class="card">
            <a href=""><span>Articles</span></a>
        </div>

        <div class="card">
            <a href=""><span>Media</span></a>
        </div>
    </div>
{% endblock %}