{% extends 'base.html.twig' %}

{% block body %}
    <h1>Forbidden Access</h1>

    <p>
        The requested page couldn't be accessed. Checkout for any URL
        misspelling or <a href="{{ path('home') }}">return to the homepage</a>.
    </p>
{% endblock %}