html, body {
    /* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; */
    font-family: "Gill Sans", sans-serif;
    font-size: 1rem;
    background-color: #F7F8FA;
    padding: 0;
    margin: 0;
}

:root {
    --navHeight: 90px;
    --c-white: #ffffff;
    --c-red: #ff0000;
    --c-green: #188038;
}


/* ---------------------------------------- *\
                    Link
\* ---------------------------------------- */
a, a:hover {
    color: #000000;
    text-decoration: none !important;
}


/* ---------------------------------------- *\
                    Width
\* ---------------------------------------- */
.w-100px {
    width: 100px;
    margin-bottom: 10px;
}

.w-250px {
    width: 250px;
    margin-bottom: 10px;
}


/* ---------------------------------------- *\
                    Height
\* ---------------------------------------- */
.h-50px {
    height: 50px;
}
.h-150px {
    height: 150px !important;
    margin-bottom: 10px;
}

.h-250px {
    height: 250px !important;
    margin-bottom: 10px;
}


/* ---------------------------------------- *\
                    Color
\* ---------------------------------------- */
.c-cyanBlue {
    color: rgb(0, 183, 235);
}

.c-red {
    color: #ff0000;
}

.c-green {
    color: #188038;
}

.c-white {
    color: rgb(255, 255, 255);
}


/* ---------------------------------------- *\
                    Texte
\* ---------------------------------------- */
.txt-bold {
    font-weight: 600;
}

.txt-size-middle {
    font-size: 1.3rem !important;
}

.txt-center {
    text-align: center;
}


/* ---------------------------------------- *\
                Border Radius
\* ---------------------------------------- */
.r-20px {
    border-radius: 20px !important;
}


/* ---------------------------------------- *\
                Background-Color
\* ---------------------------------------- */
.bg-white {
    background-color: #ffffff;
}

.bg-lightGrey {
    background-color: #f2f2f2;
}

.bg-night {
    background-color: #010418;
}

.bg-midnight {
    background-color: #011740;
}

/* ---------------------------------------- *\
                    Button
\* ---------------------------------------- */
.btn-custom-green {
    text-align: center;
    height: 34px;
    width: 185px;
    color: #ffffff;
    background-color: #188038;
    border: 2px solid #188038;
    text-decoration: none;
    border-radius: 7px;
    font-size: 16px;
    line-height: 1.25rem;
}

.btn-custom-green:hover {
    color: #188038;
    background-color: #ffffff;
}

.btn-custom-midnight {
    text-align: center;
    height: 34px;
    width: 185px;
    color: #ffffff;
    background-color: #3F569B;
    text-decoration: none;
    border-radius: 7px;
    border: 2px solid #3F569B;
    font-size: 16px;
    line-height: 1.25rem;
}

.btn-custom-midnight:hover {
    color: #3F569B;
    background-color: #ffffff;
}

.btn-custom-blue {
    max-width: 250px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    color: #ffffff;
    vertical-align: middle;
    box-shadow: 1px 2px 4px #afafaf;
    background-color: #2962ff;
}

.btn-custom-blue:hover {
    color: #ffffff;
}

.btn-custom-blue span {
    text-transform: uppercase;
    font-size: .9rem;
    vertical-align: middle;
}


/* ---------------------------------------- *\
                    Form
\* ---------------------------------------- */
fieldset.form-group {
    display: none;
}

.form-group li {
    list-style: none;
    margin: 15px 0;
    padding: 0;
}

/* ---------------------------------------- *\
                    Margin
\* ---------------------------------------- */
.m-middle {
    display: block;
    margin: auto;
}