html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #F7F8FA;
}


/* ---------------------------------------- *\
                    Link
\* ---------------------------------------- */
a, a:hover {
    color: #000000;
    text-decoration: none;
}


/* ---------------------------------------- *\
                    Width
\* ---------------------------------------- */
.w-100px {
    width: 100px;
    margin-bottom: 10px;
}

.w-250px {
    width: 250px;
    margin-bottom: 10px;
}


/* ---------------------------------------- *\
                    Height
\* ---------------------------------------- */
.h-150px {
    height: 150px !important;
    margin-bottom: 10px;
}


/* ---------------------------------------- *\
                    Color
\* ---------------------------------------- */
.c-cyanBlue {
    color: rgb(0, 183, 235);
}

.c-white {
    color: rgb(255, 255, 255);
}

/* ---------------------------------------- *\
                    Button
\* ---------------------------------------- */
.btn-blue {
    color: #ffffff;
    background-color: #0366d6;
}


/* ---------------------------------------- *\
                    Icon
\* ---------------------------------------- */
.i-pencil {
    content: "\f040";
}
.i-close {
    content: "\f00d";
}