html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #F7F8FA;
}


/* ---------------------------------------- *\
                    Navbar
\* ---------------------------------------- */
.navbar-toggler i {
    font-size: 1.5em;
    color: #ffffff;
}


/* ---------------------------------------- *\
                    Link
\* ---------------------------------------- */
a, a:hover {
    color: #000000;
    text-decoration: none;
}


/* ---------------------------------------- *\
                    Width
\* ---------------------------------------- */
.w-100px {
    width: 100px;
    margin-bottom: 10px;
}

.w-250px {
    width: 250px;
    margin-bottom: 10px;
}


/* ---------------------------------------- *\
                    Height
\* ---------------------------------------- */
.h-50px {
    height: 50px;
}
.h-150px {
    height: 150px !important;
    margin-bottom: 10px;
}

.h-250px {
    height: 250px !important;
    margin-bottom: 10px;
}


/* ---------------------------------------- *\
                    Color
\* ---------------------------------------- */
.c-cyanBlue {
    color: rgb(0, 183, 235);
}

.c-white {
    color: rgb(255, 255, 255);
}


/* ---------------------------------------- *\
                    Texte
\* ---------------------------------------- */
.txt-bold {
    font-weight: 600;
}


/* ---------------------------------------- *\
                Background-Color
\* ---------------------------------------- */
.bg-white {
    background-color: #ffffff;
}
.bg-night {
    background-color: #010418;
}

.bg-midnight {
    background-color: #01043F;
}

/* ---------------------------------------- *\
                    Button
\* ---------------------------------------- */
.btn-blue {
    color: #ffffff;
    background-color: #0366d6;
}

.btn-blue:hover {
    color: #ffffff;
}

.btnCustomLogin {
    text-align: center;
    height: 34px;
    width: 185px;
    color: #ffffff;
    background-color: #188038;
    border: 2px solid #188038;
    text-decoration: none;
    border-radius: 7px;
    font-size: 16px;
    line-height: 1.25rem;
}

.btnCustomLogin:hover {
    color: #188038;
    background-color: #ffffff;
}

.btnCustomRegister {
    text-align: center;
    height: 34px;
    width: 185px;
    color: #ffffff;
    background-color: #3F569B;
    text-decoration: none;
    border-radius: 7px;
    border: 2px solid #3F569B;
    font-size: 16px;
    line-height: 1.25rem;
}

.btnCustomRegister:hover {
    color: #3F569B;
    background-color: #ffffff;
}


/* ---------------------------------------- *\
                    Fieldset
\* ---------------------------------------- */
fieldset.form-group {
    display: none;
}