/* ------------------------------------------------------ *\
                            Chat
\* ------------------------------------------------------ */
.chat {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
}

.chat-users {
    width: var(--chatUsersWidth);
    border: 1px solid var(--c-black);
    background-color: var(--c-darkShadeCyanBlue);
    position: relative;
}


/* ------------------------------------------------------ *\
                    User section profile
\* ------------------------------------------------------ */
.user-profile {
    background-color: var(--c-mediumDarkShadeCyanBlue);
    display: block ruby;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    height: 100px;
}

.profile-img {
    max-width: 100px;
}

.profile-img img {
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    height: 70px;
    width: 70px;
    border: 3px solid cadetblue;
}

.profile-username {
    color: var(--c-white);
    display: grid;
    text-align: left;
    vertical-align: middle;
}


/* ------------------------------------------------------ *\
                    User section search
\* ------------------------------------------------------ */
.users-search {
    width: 100%;
    background-color: var(--c-whiteMetal);
}
.users-search .search-form {
    padding: 10px;
    display: flex;
}

.users-search .search-form > button {
    background-color: transparent;
    border: none;
    color: var(--c-white);
    padding: 0 10px;
    position: absolute;
    height: 30px;
}

.users-search .search-form > input {
    width: 100%;
    padding: 0 0 0 35px;
    border: none;
    height: 30px;
    background-color: var(--chatUsersWidth);
    color: var(--c-white);
    outline: none;
}


/* ------------------------------------------------------ *\
                    User section list
\* ------------------------------------------------------ */
.users-list {
    height: calc(100% - 200px);
    width: 100%;
    padding: 2%;
    margin: 0;
    text-align: center;
    overflow: auto;
    scrollbar-width: none;
}

.user-block {
    display: flex;
    margin: 15px;
    padding: 5px;
    cursor: pointer;
    color: var(--c-white);
}

.user-block:hover {
    background-color: var(--c-smallMediumDarkShadeCyanBlue);
    color: var(--c-white);
}

.user-block.current-discussion {
    background-color: var(--c-smallMediumDarkShadeCyanBlue);
    border-right: 5px solid #435f7a;
}

.user-block .user-img {
    max-width: 60px;
    height: auto;
}

.user-block .user-img img {
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}

.user-block .user-descr {
    display: grid;
    text-align: left;
    align-content: center;
    padding: 0 10px;
}

.user-block .user-descr .user-name {
    font-weight: 600;
}

.user-block .user-descr .user-lastmessage {
    font-weight: 400;
}


/* ------------------------------------------------------ *\
                    User section settings
\* ------------------------------------------------------ */
.user-settings {
    margin: 0;
    padding: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    position: absolute;
    color: var(--c-white);
    border-top: 1px solid var(--c-whiteMetal);
}

.user-settings a {
    color: var(--c-white);
    position: relative;
    vertical-align: top;
    line-height: 50px;
    padding: 0 10px;
}


/* ------------------------------------------------------ *\
                    Discussion section
\* ------------------------------------------------------ */
.chat-discussion {
    width: calc(100% - var(--chatUsersWidth));
    background-color: var(--c-verySlightCyan);
    border: 1px solid var(--c-black);
    padding-top: 1%;
    position: relative;
}

.discussion-panel {
    position: absolute;
    width: fill-available;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    padding: 0 15px;
    height: 100%;
}

.discussion-block {
    height: calc(100% - 70px);
    overflow: auto;
    scrollbar-width: none;
}

.discussion-block .discussion.ordered {
    max-width: fit-content;
    border: 1px solid var(--c-mediumDarkShadeCyanBlue);
    background-color: var(--c-mediumDarkShadeCyanBlue);
    color: var(--c-white);
    border-radius: 0 25px 25px;
    margin: 5px 0;
    padding: 0 10px;
    width: max-content;
    margin-left: 0;
    margin-right: auto;
}

.discussion-block .discussion.inverted {
    max-width: fit-content;
    border: 1px solid var(--c-cyanBlue);
    background-color: var(--c-cyanBlue);
    color: var(--c-white);
    border-radius: 25px 25px 0;
    margin: 5px 0;
    padding: 0 10px;
    width: max-content;
    margin-left: auto;
    margin-right: 0;
}

.discussion-block .discussion.ordered img,
.discussion-block .discussion.inverted img {
    width: 125px;
    border-radius: 25px;
    padding: 5px 0;
}

.chat-discussion .discussion-bar {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: fit-content;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    display: flex;
}

.chat-discussion .discussion-bar input {
    padding: 0 15px;
    width: 100%;
    height: 50px;
    border: 1px solid var(--c-lightSilver);
}

.chat-discussion .discussion-bar button {
    color: var(--c-white);
    /* background-color: var(--c-cyanBlue); */
    /* border: 1px solid var(--c-cyanBlue); */
    background-color: var(--c-darkShadeCyanBlue);
    border: 1px solid var(--c-darkShadeCyanBlue);
    vertical-align: middle;
    height: 50px;
    width: 50px;
}