{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/chat/main.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <section class="chat">

        {# Users #}
        <div class="chat-users">
            <div class="users-list">
                <button class="user-add-discussion">Add a new discussion</button>

                <div class="user-block">
                    <div class="user-img">
                        <img class="img-rounded" src="{{ asset('content/users/avatar.png') }}" />
                    </div>
                    <div class="user-descr">
                        <span class="user-name">Alban DUPONT</span>
                        <span class="user-lastmessage">Fine ?</span>
                    </div>
                </div>

                <div class="user-block">
                    <div class="user-img">
                        <img class="img-rounded" src="{{ asset('content/users/avatar.png') }}" />
                    </div>
                    <div class="user-descr">
                        <span class="user-name">Jack Parkson</span>
                        <span class="user-lastmessage">OK</span>
                    </div>
                </div>

                <div class="user-block">
                    <div class="user-img">
                        <img class="img-rounded" src="{{ asset('content/users/avatar.png') }}" />
                    </div>
                    <div class="user-descr">
                        <span class="user-name">Robert Johnson</span>
                        <span class="user-lastmessage">No, That's wrong !</span>
                    </div>
                </div>
            </div>
        </div>

        {# Discussion #}
        <div class="chat-discussion">
            <div class="discussion-panel">
                <div class="discussion-block">
                    <div class="discussion">
                        <span>Hello</span>
                    </div>
                    <div class="discussion inverted">
                        <span>Hi !</span>
                    </div>
                    <div class="discussion">
                        <span>How are you ?</span>
                    </div>
                    <div class="discussion inverted">
                        <span>Fine ?</span>
                    </div>
                </div>
            </div>
            <div class="discussion-bar">
                <input type="text" name="message" placeholder="Message . . ." />
                <button>Send</button>
            </div>
        </div>
    </section>
{% endblock %}
