/* ---------------------------------------- *\
                    Footer
\* ---------------------------------------- */
footer {
    color: #ffffff;
}

.copyright {
    bottom: 0;
}

.footer-copyright {
    display: block;
    height: 75px;
    padding: 1.7rem 2rem;
}

.copyright {
    float: left;
}

.creator {
    float: right;
}

.creator .c-cyanBlue:hover {
    color: rgb(0, 183, 235);
}