/* ---------------------------------------- *\
                    Home
\* ---------------------------------------- */
.profile {
    padding: 2rem;
}

.profile-content {
    display: grid;
    grid-template-columns: 30% 70%;
    height: auto;
}

.profile-left {
    padding: 2rem;
    margin: auto;
    margin-top: 0;
    height: 100%;
}

.profile-left .profile-img {
    max-width: 200px;
}

.profile-left .profile-img img {
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    height: 200px;
    width: 200px;
}

.profile-left .profile-username {
    text-align: center;
    font-size: larger;
    font-weight: 600;
}

.profile-right {
    background-color: var(--c-white);
    padding: 1rem;
    border: 1px solid var(--c-silver);
}

form.user div.form-group:last-child {
    text-align: center;
}

.profile-preferences {
    display: flex;
}

.profile-preferences .form-check {
    padding-right: 15px;
}