/* ---------------------------------------- *\
                    Home
\* ---------------------------------------- */
.profile {
    padding: 2rem 0;
}

.profile-content {
    display: grid;
    grid-template-columns: 350px calc(100% - 350px);
    height: auto;
}

.profile-left, .profile-right {
    margin-bottom: 10px;
}

.profile-left {
    padding: 0 1rem;
    height: 100%;
}

.profile-user-block {
    background-color: var(--c-white);
    box-shadow: 1px 2px 5px var(--c-black);
    padding: 1rem 0;
    margin: auto;
    max-width: 300px;
}

.profile-left .profile-img {
    max-width: 200px;
    margin: auto;
}

.profile-left .profile-img img {
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    height: 200px;
    width: 200px;
    cursor: pointer;
}

.profile-left .profile-username {
    text-align: center;
    font-size: larger;
    margin: auto;
}

.profile-right {
    background-color: var(--c-white);
    padding: 1rem;
    border: 1px solid var(--c-silver);
    box-shadow: 1px 2px 5px var(--c-black);
}

form.user div.form-group:last-child {
    text-align: center;
}

.profile-preferences {
    display: flex;
}

.profile-preferences .form-check {
    padding-right: 15px;
}