{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
    <section class="naturalElement">
        <div class="container">
            <span>Listing natural element</span>
        </div>
    </section>
{% endblock %}