/* ---------------------------------------- *\
                    Article
\* ---------------------------------------- */
.wikiearth-article {
    padding: 2rem;
}

.article-details {
    width: 100%;
}

/* ---------------------------------------- *\
                Card Article
\* ---------------------------------------- */
.slider {
    max-width: 900px;
    overflow: hidden;
    display: flex;
}

.slider .card {
    background: #ffffff;
    flex: 1;
    margin: 0 10px;
}

.slider .card .img {
    height: 200px;
    width: 100%;
}

.slider .card .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slider .card .content {
    padding: 10px 20px;
}

.card .content .title {
    font-size: 25px;
    font-weight: 600;
}

.card .content p {
    text-align: justify center;
    margin: 10px 0;
}

.card .content .btn {
    width: 150px;
    margin: 10px 0;
    border-radius: 15px;
    border: 2px solid #868686;
    outline: none;
    transition: .5s;
}

.card .content .btn:hover {
    background-color: #868686;
    transition: .5s;
    color: var(--c-white);
}


/* ---------------------------------------- *\
                Search Mineral
\* ---------------------------------------- */
.search-subject {
    margin: 50px 0;
    padding: 20px;
    background-color: var(--c-white);
}

.formSearch {
    display: flex;
}

.formSearch-input input {
    padding: 0 25px;
    background-color: #F5F5F5;
    border-style: none;
    height: 50px;
    width: 100%;
    vertical-align: middle;
}
.formSearch-input {
    width: 100%;
}

.formSearch-button {
    background-color: var(--c-primaryBlue);
    color: var(--c-white);
    border-style: none;
    height: 50px;
    width: 170px;
}