/* ---------------------------------------- *\
                    Articles
\* ---------------------------------------- */
.wikiearth-article {
    padding: 2rem;
    background-color: var(--c-lightGrey);
}

.wikiearth-article-header {
    text-align: center;
    margin-bottom: 2rem;
}

.wikiearth-article-header-title {
    text-transform: uppercase;
    font-weight: 700;
}