/* ---------------------------------------- *\
                    Footer
\* ---------------------------------------- */
footer {
    color: #ffffff;
}

.footer-menu,
.copyright {
    bottom: 0;
}

.footer-menu {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    width: 100%;
}

.footer-menu-container {
    margin: 1rem;
}

.footer-menu-container h3 {
    text-align: left;
    font-size: 20px;
}

.footer-menu-container hr {
    margin: -.2rem;
    margin-bottom: .3rem;
    width: 200px;
    background-color: #ffffff;
    height: 2px;
}

.footer-menu-container .footer-menu-items {
    list-style: none;
    padding-top: .3rem;
}

.footer-menu-container .footer-menu-items li {
    margin: .3rem 0;
}
    

.footer-menu-container .footer-menu-items li a {
    margin-left: -2.5rem;
    text-decoration: none;
    color: #ffffff;
}

.footer-menu-container .footer-menu-items li a:hover {
    transition: .5s;
    color: rgb(0, 183, 235);
}

.footer-copyright {
    display: block;
    height: 75px;
    padding: 1.7rem 2rem;
}

.copyright {
    float: left;
}

.creator {
    float: right;
}

.creator .c-cyanBlue:hover {
    color: rgb(0, 183, 235);
}