/* ---------------------------------------- *\
                    Media Box
\* ---------------------------------------- */
.media {
    background-color: var(--c-white);
    box-shadow: 2.5px 5px 5px var(--c-grey);
    margin: 1rem 0;
}

.media .media-header {
    height: 100%;
    max-width: 156px;
}

.media .media-header img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.media .media-body {
    padding: 1rem 1rem;
    height: 100%;
}

.media .media-body .media-body-title {
    font-size: 1rem;
    font-weight: 600;
    word-break: break-all;
}