/* ---------------------------------------- *\
                    Sign In
\* ---------------------------------------- */
.signIn {
    background-color: var(--c-lightGrey);
    padding: 5rem 0;
}

.signIn > .signIn-content {
    border-radius: 5px;
    box-shadow: 2px 5px 5px var(--c-grey);
    background-color: var(--c-white);
    max-width: 700px;
}

.signIn .signIn-content .signIn-title {
    padding: 1.2rem 0;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
}

.signIn .signIn-content form {
    padding: 1rem 3rem;
}

.signIn .signIn-content form .inputField {
    background-color: var(--c-whiteSmoke);
    border: none;
}

.signIn .signIn-content form .btnCustomRegister {
    margin: 0 2rem;
}