/* ---------------------------------------- *\
            Single Living Thing
\* ---------------------------------------- */
.articleLivingThing {
    background-color: #F7F8FA;
}

.articleLivingThing .articleLivingThing-single {
    display: grid;
    grid-template-columns: 200px calc(100% - 450px) 250px;
    height: auto;
    width: 100%;
}

.articleLivingThing-single-left,
.articleLivingThing-single-right {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
}

.articleLivingThing-single-left .wikiearth-header {
    padding: 1rem 0;
    background-color: #F7F8FA;
    justify-content: center;
    width: 100%;
}

.articleLivingThing-single-left .wikiearth-header-logo {
    max-width: 125px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.articleLivingThing-single-left .wikiearth-header-logo img {
    object-fit: cover;
}

.articleLivingThing-single-left .wikiearth-header-content {
    margin: 15px 0;
    text-align: center;
}

.articleLivingThing-single-left .wikiearth-header-content .wikiearth-header-title {
    font-weight: 600;
    font-size: 18px;
}

.articleLivingThing-single-left .wikiearth-header-content .wikiearth-header-text {
    margin-top: 10px;
    font-size: 14px;
    padding: 0 10px 0 10px;
}

.articleLivingThing-single-left .subLink {
    padding: 1.5rem 0;
}

.articleLivingThing-single-left .subLink ul {
    list-style: none;
    text-align: left;
    padding: 0 1rem;
    margin: 0;
}

.articleLivingThing-single-left .subLink ul li.title {
    color: #AAAAAA;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.articleLivingThing-single-left .subLink ul li {
    padding: .75rem 1rem;
    font-weight: 600;
    border-bottom: 1px solid #AAAAAA;
    font-size: .9rem;
}

.subLink .subLink-item a {
    text-decoration: none;
    color: #000000 !important;
}

.articleLivingThing .articleLivingThing-single-center {
    padding: 2rem;
    text-align: justify;
}

.articleLivingThing .articleLivingThing-single-center .post .post-title {
    font-weight: 700;
}

.post-content-geography,
.post-content-ecology,
.post-content-behaviour,
.post-content-wayOfLife,
.post-content-description,
.post-content-otherData {
    border-bottom: 1px solid #AAAAAA;
    padding: 1.5rem 0;
}

.post-content-geography-title,
.post-content-ecology-title,
.post-content-behaviour-title,
.post-content-wayOfLife-title,
.post-content-description-title,
.post-content-otherData-title {
    font-weight: 700;
}

.geography-content .title,
.ecology-content .title,
.behaviour-content .title,
.wayOfLife-content .title,
.description-content .title,
.otherData-content .title {
    padding: 1rem 0;
    font-weight: 600;
    font-size: 21px;
}

.geography-content .content,
.ecology-content .content,
.behaviour-content .content,
.wayOfLife-content .content,
.description-content .content,
.otherData-content .content {
    overflow-wrap: break-word !important;
    padding: 0;
}

.articleLivingThing-livingThing .livingThing-content {
    list-style: none;
    padding: 0 1rem;
}

.articleLivingThing-livingThing .livingThing-content li {
    padding: .2rem 0;
}