{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
    <div class="container">
        <a href="{{ path("adminAddArticle") }}" class="btn btn-success">Add</a>
        <table class="table text-center">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Type</th>
                    <th>User</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            
            <tbody>
                {% if articles != [] %}
                    {% for article in articles %}
                        <tr>
                            <td>{{ article.title }}</td>
                            <td></td>
                            <td></td>
                            {# <td><a class="btn btn-primary" href=""><i class="far fa-edit"></i></a></td> #}
                            <td>
                                <a class="btn btn-primary" href=""><i class="far fa-edit"></i></a>
                                <a class="btn btn-danger" href="{{ path('adminDeleteArticle', {'id': article.id}) }}"><i class="far fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">Aucun article n'a été trouvé</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}