{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
    <section class="livingThing">
        <div class="container">
            <a class="btn btn-custom-green" href="{{ path('adminArticleByCategory', {'category': "living-thing"}) }}">Living Things</a>
            <a class="btn btn-custom-midnight" href="{{ path('adminArticleByCategory', {'category': "natural-elements"}) }}">Natural Elements</a>
        </div>
    </section>
{% endblock %}