{% extends 'anonymous/baseAnonymous.html.twig' %}

{% block body %}
    <section class="about">
        <div class="container">
            <h2>About Page / Anonymous Section</h2>
        </div>
    </section>
{% endblock %}
