{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
    <section class="minerals">
        <div class="container">
            <span>Detail minerals</span>
        </div>
    </section>
{% endblock %}