{% extends 'base.html.twig' %}

{# CSS #}
{% block stylesheets %}
    <link href="{{ asset('assets/css/user/main.css') }}" rel="stylesheet">
{% endblock %}


{# Footer #}
{% block footer %}
<footer>
    <div class="center">
        <span>Copyright &copy; {{ "now"|date("Y") }} &minus; WikiEarth</span>
        <span>Tous droits réservés</span>
    </div>
    <div class="right">
        <span>Realised by <a href="#">Garry Almeida</a></span>
    </div>
</footer>
{% endblock %}


{# JS #}
{% block javascripts %}
    <script src="{{ asset('assets/js/user/main.js') }}" type="text/javascript"></script>
{% endblock %}