{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
    <div class="container">
       {{ form_start(formAnimal, {"method": "POST"}) }}
       {{ form_end(formAnimal, {"method": "POST"}) }}
    </div>
{% endblock %}